nav{
    background-color:beige;
    color:black;
    padding:20px;
}  
h1,ul,li{
    display:inline;
}
ul{
    margin-left:700px;
}
li{
    color:aqua;
}
li:hover{
    color:white;

}
input{
    width:60%;
    padding:15px;
    border-radius:50px;

}
.searchbar{
    text-align:center;
    padding:25px;
}
button{
    background-color:black;
    color:white;
    padding:10px;
}
button:hover{
    color:aqua;
}
.box{
    border-color: black;
    border-style:solid;
    border-width: 2px;
    display:inline-block;
    width:230px;
    margin-right: 5px;
}
    .box:hover{
        color:aqua;
        background-color: black;
    }
    .products{
        text-align: center;
    }
    .about{
        text-align: center;
    }
.contact{
    text-align: center;
    background-color: black;
    color: bisque;
}
.contact:hover{
    color: aqua;
}